:root {
    --color-1: #432;
    --background-color-1: #f7f7ea;
    --background-color-2: #fbfbf0;
    --accent-color-1: #9db752;
    --border-color: #999999;
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20pt;
    font-family: Arial, 'Helvetica', sans-serif;
    scroll-behavior: smooth;
    
    
}
/*  */
/* ~general styling all pages ~ */
/*  */

nav {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100%;
    height: 110px;
    position: relative;
    top: 0%;
    border-bottom: solid 5px #9db752;
    background-color: var(--background-color-1);
    color: var(--color-1);
    z-index: 1;
}
nav>div>a:hover {
    text-decoration: underline;
    transition: 0.3s ease;
    color: #9db752;
}
.container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.5% 25% 0.1% 25%;
    
}

footer {
    display: inline-flex;
    justify-content: flex-end;
    align-items:last baseline;
    width: 100%;
    height: 400px;
    background-image: url(/pictures/banner\ footer.jpg);
    color: #9db752;
}

body {
    background-color: var(--background-color-1);

}
a {
    color: inherit;
    text-decoration: none;
}
button {
    background-color: var(--accent-color-1);
    color: var(--color-1);
    padding: 10px;
    border: solid 1.5px var(--border-color);
    border-radius: 0.5rem 2rem 0.5rem 2rem;
    font-size: 0.6em;
    box-shadow: 0px 1px 7px black;
    font-weight: bold;
    
}
button:hover {
    background-color:#432;
    color: #9db752;
    cursor: pointer;
    transition: 0.5s ease;
    
}
h2 {
    text-decoration: underline;
    margin: 0.5em 0 1em 0;
    text-shadow: 0px 10px 40px black;
}
/*  */
/* Home / Startseite styling */
/*  */

header {
    width: 100%;
    height: 86.5vh;
    background-image: url(/pictures/Banner\ head.jpg);
    border-bottom: solid 8px #9db752;
    color: var(--background-color-1);
    -webkit-text-stroke: rgb(14, 14, 14) 1.5px;

}
header>h1 {
    font-size: 3rem;
    padding: 2.5rem;
    text-shadow: 0.01em 0.05em black;
    filter: drop-shadow(0.05em 0.05em 20pt black);
}
header>p {
    font-size: 1.1rem;
    padding: 2.5rem;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 1px 1px black;
    filter: drop-shadow(1px 1px 10px black);
}
.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
header>div>a>img {
    height: 45px;
    background-color: #f7f7ea6b;
    border-radius: 50%;
    border: solid 5px #f7f7ea31;
    text-align: center;

}
header>div>a>img:hover {
    background-color: #999999;
    transition: 0.3s;
}
/* sections / HOME */
.general,.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-1);
}
section>p {
    padding: 1.5em 0 1.5em 0;
    margin: 0 1.5em 0 1.5em;
}
.containerGeneral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
}
.generalItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}
.generalItems>img {
    height: 64px;
    width: 64px;
    padding: 10px;
    border-bottom: solid 5px #9db752;
}
.generalItems>p {
    padding: 1rem;
    color: #9db752;
    font-weight: bold;
}
/* section news */


/*  */
/* Login */
/*  */

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-1);
    margin: 2em;
}
.loginForm {
    display: flex;
    flex-direction: column;
    
}
.login>h1 {
    text-decoration: underline;
}
fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    padding: 1em;
}

fieldset>input {
    margin: 5px 5px 5px 0;
    padding: 0.1em;
    border-radius: 5px;
    border: solid 0.1px var(--border-color);
}
.togglePw {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 0.7em;
}
.togglePw>p {
    margin-left: 5px;
}
section>form>button {
    margin: 0 2.5em 0 2.5em;
}


/* footer */

footer>div>div>a>img {
    height: 32px;
    width: 32px;
    border: solid 1px black;
    border-radius: 50%;
    padding: 0.1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: #9eb75249;
}
footer>div>div>a>img:hover {
    background-color: #999999;
    box-shadow: 0px 0px 10px #999999;
}
footer>img {
    margin-right: 43%;

}
