:root {
    --color-1: #432;
    --background-color-1: #f7f7ea;
    --background-color-2: #fbfbf0;
    --accent-color-1: #9db752;
    --border-color: #999999;
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 20pt;
    font-family: Arial, 'Helvetica', sans-serif;
    scroll-behavior: smooth;
    
    
}
/*  */
/* ~general styling all pages ~ */
/*  */

nav {
    /* display: grid;
    grid-template-columns: 1;
    grid-template-rows: 33% 33% 33%; */
    width: 100%;
    height: 110px;
    position: relative;
    top: 0%;
    border-bottom: solid 5px #9db752;
    background-color: var(--background-color-1);
    color: var(--color-1);
    z-index: 1;
}
.container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.5% 25% 0.1% 25%;
    
}

footer {
    width: 100%;
    height: 400px;
    background-image: url(/pictures/banner\ footer.jpg);
    
}

body {
    background-color: var(--background-color-1);

}
a {
    color: inherit;
    text-decoration: none;
}
/*  */
/* Home / Startseite styling */
/*  */

header {
    width: 100%;
    height: 782px;
    background-image: url(/pictures/Banner\ head.jpg);
    border-bottom: solid 8px #9db752;
    
}
